#dashboard-analytics-section-income-number-container {
    width: 40%;
}

#dashboard-analytics-section-income-chart-container {
    width: 60%;
}

#dashboard-analytics-section-income-number-container h4 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #212529
}

#dashboard-analytics-section-income-number-container h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #212529;
    margin: 10px 0px
}

#dashboard-analytics-section-income-number-container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    margin-top: 14px;

}

#dashboard-analytics-section-income-number-container p {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #6C757D;
}

#dashboard-analytics-section-income-number-container h5 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #212529
}

#dashboard-analytics-section-income-number-container .current-month {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #6C757D
}


#dashboard-analytics-section-target-container {
    background-color: #9A55FF;
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}


#dashboard-analytics-section-target-percentage-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F8F9FA;

}

#dashboard-analytics-section-target-percentage-container {
    position: absolute;
    top: 31%;
    left: 39%
}



#dashboard-analytics-section-target-numbers-container h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20x;
    color: #F8F9FA;
    margin-top: 20px
}

.dashboard-analytics-section-target-order-text {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #F8F9FA
}

.dashboard-analytics-section .col-9-right {
    background-color: white;
    padding: 27px 15px;
    border-radius: 10px;

}

.dashboard-analytics-section .swiper-container .swiper-wrapper .swiper-slide {
    background-color: #ffffff;
    padding: 14px;
    border-radius: 15px !important;
}


.dashboard-analytics-section .swiper-container .swiper-wrapper .profit-container .profit-title {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #6C757D;
    margin-top: 10px;

}

#dashboard-analytics-section-profit-digit-container .profit-current-month {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px !important;
    color: #212529;
    margin-top: -8px;

}


#dashboard-analytics-section-profit-digit-container .profit-change {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #41A5FF;
    height: 20px;
    padding: 3.5px 5px;
    border-radius: 10px;
}


.dashboard-analytics-section .swiper-container .swiper-wrapper .expense-container .expense-title {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #6C757D;
    margin-top: 10px;
}



#dashboard-analytics-section-expense-digit-container .expense-change {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #41A5FF;
    height: 20px;
    padding: 3.5px 5px;
    border-radius: 10px;
}


#dashboard-analytics-section-expense-digit-container .expense-current-month {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px !important;
    color: #212529;
    margin-top: -8px;
}